<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothing : Cart</title>
    <link rel="stylesheet" href="css/signup.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/cart.css">
    <link rel="stylesheet" href="css/checkout.css">

  

</head>
<body>
    <nav class="navbar"></nav>
    <div class="alert-box">
      <img src="img/error.png" class="alert-img" alt="">
      <p class="alert-img"></p>

    </div>

    <div class="form">
        <h1 class="heading">Checkout</h1>
        <p class="text">derlivery address </p>
        <input type="text" id="address" placeholder="address">
        <input type="text" id="street" placeholder="street">
        <div class="three-input-container">
    
         <input type="text" id="city" placeholder="city">
        <input type="text" id="state" placeholder="state">
        <input type="text" id="pincode" placeholder="pin code">
    
        </div>
        <input type="text" name="" id="landmark" placeholder=" landmark">
        
      </div>
    

      
    <div class="cart-section" >
      <div class="product-list" >
          <p class="section-heading">your cart</p>
          <div class="cart">
              <!-- cart product goes here -->
              <!-- <img src="img/empty-cart.png" class="empty-img" alt=""> -->
              <div class="sm-product" ng-repeat="c in cartList">
                  <img src="img/product image 1.png" class="sm-product-img" alt="">
                  <div class="sm-text">
                      <p class="sm-product-name">BRAND</p>
                      <P class="sm-des">this is a short line about</P>
                  </div>
                  <div class="item-counter">
                      <button class="counter-btn decrement">-</button>
                      <p class="item-count">1</p>
                      <button class="counter-btn increment">+</button>
                  </div>
                  <p class="sm-price">₹500</p>
                  <button class="sm-delete-btn"><img src="img/close.png" alt=""></button>
              </div> 

              <div class="sm-product">
                  <img src="img/product image 1.png" class="sm-product-img" alt="">
                  <div class="sm-text">
                      <p class="sm-product-name">BRAND</p>
                      <P class="sm-des">this is a short line about</P>
                  </div>
                  <div class="item-counter">
                      <button class="counter-btn decrement" ng-click="DecreaseQty(c.cartId)">-</button>
                      <p class="item-count">1</p>
                      <button class="counter-btn increment" ng-click="IncreaseQty(c.cartId)">+</button>
                  </div>
                  <p class="sm-price">{{c.price}}₹500</p>
                  <button class="sm-delete-btn" ng-click="RemoveCartById(c.cartId)"><img src="img/close.png" alt=""></button>
              </div> 
          </div>

          <!-- <p class="section-heading">your wislisht</p>
          <div class="wislisht">
             
          </div> -->
      </div>
      <div class="checkout-section">
          <div class="checkout-box">
              <p class="text"> your total bill,</p>
              <h1 class="bill">{{c.Total_Amount}} </h1>
             <button class="place-order-btn">place order</button>
          </div>

      </div>
  </div>


      
    <!-- <div class="cart-section">
      <div class="product-list" >
          <p class="section-heading">your cart</p>
          <div class="cart">
           
      </div>
    </div>
      <div class="checkout-section">
          <div class="checkout-box">
              <p class="text"> your total bill,</p>
              <h1 class="bill">{{c.Total_Amount}} </h1>
             <button class="place-order-btn">place order</button>
          </div>

      </div>
  </div> -->

  


    
    <footer></footer>
    <script src="js/nav.js"></script>
    <script src="js/footer.js"></script>
    <script src="js/home.js"></script>
    
</body>
</html>